.m-header--container {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;

  .a-header__icon > .-center{
    margin: auto;
  }

  span {
    cursor: pointer;
    position: relative;

    &:before {
      content: "";
      width: 0;
      height: 10px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $c-light;
      z-index: -1;
      transition: width .4s ease-in-out;
    }

    &:hover:before {
      width: 100%;
    }
  }
}
