.a-photos__photo {
  height: 80vh;
  width: 30vw;
  overflow: hidden;
  background: {
    image: var(--src);
    position: center;
    size: cover;
    repeat: no-repeat;
  };
  flex: 1 0 auto;

  &.-upload {
    background: {
      color: $c-light;
    };
    cursor: pointer;
    position: relative;
    transition: transform .6s ease-in-out;

    span {
      color: $c-dark;
      font: {
        size: 1.2rem;
      };

    }

    input {
      height: 100%;
      position: absolute;
      width: 100%;
      opacity: 0;
    }

    .m-upload__wrapper {
      transition: transform .4s ease-in-out;
    }
    .a-progress {
      height: 7px;
      position: absolute;
      &:after,
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: width .6s ease-in-out;
      }
      &:before {
        background: darken($c-light, 10);
      }
      &:after {
        width: var(--progress);
        background: $c-dark;
      }
    }

    &:hover {
      .m-upload__wrapper {
        transform: scale(1.1);
      }
    }
  }
}
