:root {
  --icon-size: 35px;
}

body {
  font: {
    family: "Noto Sans";
    weight: normal;
  };
}

h1 {
  color: $c-dark;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: darken($c-dark, 10%);
}

::-webkit-scrollbar-thumb:hover {
  background: $c-dark;
}
