/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darken($c-dark, 10%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $c-dark;
}
